<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JustStreamIt</title>

    <link href="../static/css/header.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/best_movie.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <!-- En tête / Header -->
    <header class="header">
        <a href="index.html">
            <img alt="Logo de JustStreamIt" src="../static/img/logo_small.png">
        </a>
        <h1 class="header-title">JustStreamIt</h1>
        <nav class="header-menu">       
            <a href="index.html">Accueil</a>
            <a href="index.html">Catégories</a>
        </nav>
    </header>

    <!-- Section du meilleur film -->
    <section class="best-movie-container">
        <article>
            <h2 class="best-movie-title" id="best-movie-title">Titre du film</h2>
            <button class="best-movie-button-play"><i class="fa-solid fa-play"></i>Play</button>
            <button class="best-movie-button-info"><i class="fa-solid fa-circle-info"></i>Plus d'infos</button>
            <p class="best-movie-description">Un jeune violoniste atteint de leucémie apporte espoir et vie dans un hôpital russe désolé pour enfants.</p>
        </article>
        <img class="best-movie-img" alt="movie cover" src="" />
    </section>

    <script src="../static/js/script.js"></script>
    <script src="https://kit.fontawesome.com/6d43f5af63.js" crossorigin="anonymous"></script>
</body>